Repository AOLabsOrg/aolabs-university-system, pull requests merged in 2025-05, with the labels that each got.

#9 Add BaseEntity and University classes with licensing info
  src/UniversitySystem.Domain/Common/BaseEntity.cs
  src/UniversitySystem.Domain/Entities/University.cs
Labels: good first issue, feature, domain

#14 Add Faculty class with properties and licensing info
  src/UniversitySystem.Domain/Entities/Faculty.cs
Labels: feature, domain

#17 Add Department class to manage university departments
  src/UniversitySystem.Domain/Entities/Department.cs
Labels: feature, domain

#18 Add Specialization class with department linkage
  src/UniversitySystem.Domain/Entities/Specialization.cs
Labels: feature, domain

#45 Update erd.md
  docs/erd.md
Labels: enhancement, docs

#44 Update README.md
  README.md
Labels: enhancement, docs

#49 Add Grade class with properties and constructors
  src/UniversitySystem.Domain/Entities/Grade.cs
Labels: feature, domain

#52 Refactor Instructor properties and add enums for Gender and Instructo…
  src/UniversitySystem.Domain/Entities/Instructor.cs
  src/UniversitySystem.Domain/Enums/DayOfWeek.cs
  src/UniversitySystem.Domain/Enums/Gender.cs
  src/UniversitySystem.Domain/Enums/InstructorType.cs
Labels: feature, domain
